<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_e7965"></div>
    <div class="tradingview-widget-copyright"><a href="https://de.tradingview.com/" rel="noopener nofollow"
            target="_blank"><span class="blue-text">Alle Märkte bei TradingView verfolgen</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "autosize": true,
                "pair": "{{ pair }}",
                "interval": "{{ timeframe }}",
                "timezone": "Etc/UTC",
                "theme": "{{ theme }}",
                "style": "1",
                "locale": "{{ locale }}",
                "toolbar_bg": "#ff9700",
                "enable_publishing": false,
                "hide_legend": true,
                "hide_side_toolbar": false,
                "save_image": false,
                "studies": [
                    "STD;ENV",
                    "STD;EMA",
                    "STD;RSI"
                ],
                "container_id": "tradingview_e7965"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->