<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://de.tradingview.com/" rel="noopener nofollow"
            target="_blank"><span class="blue-text">Alle Märkte bei TradingView verfolgen</span></a></div>
    <script type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
                "interval": "15m",
                    "width": "100%",
                        "isTransparent": true,
                            "height": "100%",
                                "symbol": "BTCUSDT",
                                    "showIntervalTabs": true,
                                        "locale": "de_DE",
                                            "colorTheme": "dark"
            }
        </script>
</div>
<!-- TradingView Widget END -->