@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;700&display=swap');

.chakra {
    font-family: 'Chakra Petch',sans-serif;
}

.list-row-container[data-filter="action,=,buy"] {
    background-color: #49b30c;
}

.list-row-container[data-filter="action,=,sell"] {
    background-color: #ff0156;
}

.list-row-container[data-filter="action,=,close"] {
    background-color: #8c00ff;
}